a.out
*.o
*.so
ch01/entab
ch01/detab
ch04/calc_dynamic
ch04/calc_static
ch04/ex_*
!ch04/ex_*.c
ch05/ex_*
!ch05/ex_*.c
ch05/find
ch05/sort
ch05/entab
ch05/detab
ch05/tail
ch05/sort2
ch05/dcl
ch05/undcl
ch06/ex_*
!ch06/ex_*.c
ch06/wordcount
