a.out
*.o
*.so
ch01/entab
ch01/detab
ch04/calc_dynamic
ch04/calc_static
ch04/ex_*
!ch04/ex_*.c
ch05/ex_*
!ch05/ex_*.c
ch05/find
ch05/sort
ch05/entab
ch05/detab
ch05/tail
ch05/sort2
ch05/dcl
ch05/undcl
ch06/ex_*
!ch06/ex_*.c
ch06/ccountwords
ch06/ccountwords2
ch06/countwords
ch07/ex_*
!ch07/ex_*.c
ch07/upper
ch07/lower
ch07/cat
ch08/ex_*
!ch08/ex_*.c
ch08/itoo
ch08/cp
ch08/foo
ch08/bar
ch08/input.txt
ch08/cat
ch08/cat_answerskey
ch08/test_fopen
ch08/output.txt
